In [1]:
import pandas as pd

pd.read_excel("./data/teenage_mental.xls")

,기간,구분,스트레스 인지율,스트레스 인지율.1,스트레스 인지율.2,우울감 경험률,우울감 경험률.1,우울감 경험률.2,자살 생각률,자살 생각률.1,자살 생각률.2
0,기간,구분,전체,남학생,여학생,전체,남학생,여학생,전체,남학생,여학생
1,2018,구분,42.7,34.5,51.5,29.6,24.2,35.4,15.4,11.8,19.2

In [2]:
varibles = pd.read_excel("./data/teenage_mental.xls")

In [3]:
pd.read_excel("./data/teenage_mental.xls", header = 1)

     기간 구분     전체   남학생   여학생  전체.1  남학생.1  여학생.1  전체.2  남학생.2  여학생.2
0  2018  구분  42.7  34.5  51.5  29.6   24.2   35.4  15.4   11.8   19.2

In [4]:
pd.read_excel("./data/teenage_mental.xls", header = 1, usecols="C:K")

     전체   남학생   여학생  전체.1  남학생.1  여학생.1  전체.2  남학생.2  여학생.2
0  42.7  34.5  51.5  29.6   24.2   35.4  15.4   11.8   19.2

In [6]:
col_names = ['스트레스', '스트레스남학생', '스트레스여학생', '우울감경험률', '우울남학생', '우울여학생', '자살생각율', '자살생각율', '자살남학생', '자살여학생']
pd.read_excel("./data/teenage_mental.xls", header = 1, usecols="C:K", names=col_names)

ValueError: Number of passed names did not match number of header fields in the file