In [2]:
import pandas as pd

In [4]:
dates = pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
import numpy as np
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665
2019-03-02  0.220002  1.297459  1.506297  0.776434
2019-03-03 -0.845950 -1.509673  1.220819 -0.232521
2019-03-04  0.519335  0.323541 -1.014116 -1.003809
2019-03-05  1.169528 -0.112481  0.883931 -1.101489
2019-03-06  0.761931 -0.053532 -0.602182  1.027294

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.values

array([[-0.51654396, -1.36721951, -0.67636005,  0.26466501],
       [ 0.22000213,  1.29745929,  1.50629745,  0.77643357],
       [-0.84595006, -1.50967266,  1.22081924, -0.23252093],
       [ 0.51933496,  0.32354054, -1.01411615, -1.00380851],
       [ 1.16952832, -0.11248107,  0.88393057, -1.1014894 ],
       [ 0.76193091, -0.05353163, -0.60218239,  1.02729397]])

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.218050 -0.236984  0.219731 -0.044904
std    0.769885  1.059720  1.104490  0.893432
min   -0.845950 -1.509673 -1.014116 -1.101489
25%   -0.332407 -1.053535 -0.657816 -0.810987
50%    0.369669 -0.083006  0.140874  0.016072
75%    0.701282  0.229272  1.136597  0.648491
max    1.169528  1.297459  1.506297  1.027294

In [13]:
df.sort_values(by="A")

                   A         B         C         D
2019-03-03 -0.845950 -1.509673  1.220819 -0.232521
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665
2019-03-02  0.220002  1.297459  1.506297  0.776434
2019-03-04  0.519335  0.323541 -1.014116 -1.003809
2019-03-06  0.761931 -0.053532 -0.602182  1.027294
2019-03-05  1.169528 -0.112481  0.883931 -1.101489

In [14]:
df.sort_values(by="A", ascending=False)

                   A         B         C         D
2019-03-05  1.169528 -0.112481  0.883931 -1.101489
2019-03-06  0.761931 -0.053532 -0.602182  1.027294
2019-03-04  0.519335  0.323541 -1.014116 -1.003809
2019-03-02  0.220002  1.297459  1.506297  0.776434
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665
2019-03-03 -0.845950 -1.509673  1.220819 -0.232521

---

In [15]:
df['A']

2019-03-01   -0.516544
2019-03-02    0.220002
2019-03-03   -0.845950
2019-03-04    0.519335
2019-03-05    1.169528
2019-03-06    0.761931
Freq: D, Name: A, dtype: float64

In [16]:
type(df['A'])

pandas.core.series.Series

In [17]:
df[0:3]

                   A         B         C         D
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665
2019-03-02  0.220002  1.297459  1.506297  0.776434
2019-03-03 -0.845950 -1.509673  1.220819 -0.232521

In [18]:
df.loc['2019-03-01']

A   -0.516544
B   -1.367220
C   -0.676360
D    0.264665
Name: 2019-03-01 00:00:00, dtype: float64

In [19]:
df.loc['2019-03-01', ['A']]

A   -0.516544
Name: 2019-03-01 00:00:00, dtype: float64

In [20]:
df.loc['2019-03-01', ['A', 'B']]

A   -0.516544
B   -1.367220
Name: 2019-03-01 00:00:00, dtype: float64

In [21]:
df.loc['2019-03-01':'2019-03-02', ['A', 'B']]

                   A         B
2019-03-01 -0.516544 -1.367220
2019-03-02  0.220002  1.297459

In [22]:
df.loc[:, ['A', 'B']]

                   A         B
2019-03-01 -0.516544 -1.367220
2019-03-02  0.220002  1.297459
2019-03-03 -0.845950 -1.509673
2019-03-04  0.519335  0.323541
2019-03-05  1.169528 -0.112481
2019-03-06  0.761931 -0.053532

In [23]:
df.iloc[0:2]

                   A         B         C         D
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665
2019-03-02  0.220002  1.297459  1.506297  0.776434

In [24]:
df.iloc[0:2, 0:2]

                   A         B
2019-03-01 -0.516544 -1.367220
2019-03-02  0.220002  1.297459

In [25]:
df.iloc[[0, 1, 3], 0:2]

                   A         B
2019-03-01 -0.516544 -1.367220
2019-03-02  0.220002  1.297459
2019-03-04  0.519335  0.323541

In [26]:
df.iloc[[0, 1, 3]]

                   A         B         C         D
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665
2019-03-02  0.220002  1.297459  1.506297  0.776434
2019-03-04  0.519335  0.323541 -1.014116 -1.003809

In [27]:
df['A'] > 0

2019-03-01    False
2019-03-02     True
2019-03-03    False
2019-03-04     True
2019-03-05     True
2019-03-06     True
Freq: D, Name: A, dtype: bool

In [28]:
df[df['A'] > 0]

                   A         B         C         D
2019-03-02  0.220002  1.297459  1.506297  0.776434
2019-03-04  0.519335  0.323541 -1.014116 -1.003809
2019-03-05  1.169528 -0.112481  0.883931 -1.101489
2019-03-06  0.761931 -0.053532 -0.602182  1.027294

In [29]:
df > 0

                A      B      C      D
2019-03-01  False  False  False   True
2019-03-02   True   True   True   True
2019-03-03  False  False   True  False
2019-03-04   True   True  False  False
2019-03-05   True  False   True  False
2019-03-06   True  False  False   True

In [30]:
df[df > 0]

                   A         B         C         D
2019-03-01       NaN       NaN       NaN  0.264665
2019-03-02  0.220002  1.297459  1.506297  0.776434
2019-03-03       NaN       NaN  1.220819       NaN
2019-03-04  0.519335  0.323541       NaN       NaN
2019-03-05  1.169528       NaN  0.883931       NaN
2019-03-06  0.761931       NaN       NaN  1.027294

In [35]:
df2 = pd.DataFrame(df, columns=['A', 'C', 'D', 'B'])
df2

                   A         C         D         B
2019-03-01 -0.516544 -0.676360  0.264665 -1.367220
2019-03-02  0.220002  1.506297  0.776434  1.297459
2019-03-03 -0.845950  1.220819 -0.232521 -1.509673
2019-03-04  0.519335 -1.014116 -1.003809  0.323541
2019-03-05  1.169528  0.883931 -1.101489 -0.112481
2019-03-06  0.761931 -0.602182  1.027294 -0.053532

In [36]:
df['E'] = np.nan
df

                   A         B         C         D   E
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665 NaN
2019-03-02  0.220002  1.297459  1.506297  0.776434 NaN
2019-03-03 -0.845950 -1.509673  1.220819 -0.232521 NaN
2019-03-04  0.519335  0.323541 -1.014116 -1.003809 NaN
2019-03-05  1.169528 -0.112481  0.883931 -1.101489 NaN
2019-03-06  0.761931 -0.053532 -0.602182  1.027294 NaN

In [37]:
df.loc['2019-03-02', ['E']] = 2
df

                   A         B         C         D    E
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665  NaN
2019-03-02  0.220002  1.297459  1.506297  0.776434  2.0
2019-03-03 -0.845950 -1.509673  1.220819 -0.232521  NaN
2019-03-04  0.519335  0.323541 -1.014116 -1.003809  NaN
2019-03-05  1.169528 -0.112481  0.883931 -1.101489  NaN
2019-03-06  0.761931 -0.053532 -0.602182  1.027294  NaN

In [38]:
df['F'] = df['A'] + df['B']
df

                   A         B         C         D    E         F
2019-03-01 -0.516544 -1.367220 -0.676360  0.264665  NaN -1.883763
2019-03-02  0.220002  1.297459  1.506297  0.776434  2.0  1.517461
2019-03-03 -0.845950 -1.509673  1.220819 -0.232521  NaN -2.355623
2019-03-04  0.519335  0.323541 -1.014116 -1.003809  NaN  0.842875
2019-03-05  1.169528 -0.112481  0.883931 -1.101489  NaN  1.057047
2019-03-06  0.761931 -0.053532 -0.602182  1.027294  NaN  0.708399